{{ define "toolbar" }}
{{ partial "toolbar-list.html" . }}
{{ end }}
{{ define "main" }}
<article id="main" class="doc" style="display: flex; flex-flow: column;">
  {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "blog") }} 
  <section class="blog">
    {{ range $paginator.Pages }}
    <div class="card">
      <div class="media">
        {{ if .Params.image }}
        <figure class="image">
          <a href="{{ .Params.hyperlink }}"><img src="{{ .Params.image }}"></a> 
        </figure>
        {{ end }}
      </div>
      {{ partial "post-preview.html" . }}
    </div>
    {{ end }}
  </section>
  <div class="pagination-centered">
    {{ template "_internal/pagination.html" . }}
  </div>
</article>
{{ end }}
