<!DOCTYPE html>
<html{{ with .Language.Lang }} lang="{{ . }}"{{ end }}>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="article">
    {{ partial "header.html" . }}
    <div class="body">
      {{ partial "nav.html" . }}
      <main class="article">
        {{ block "toolbar" . }}
        {{ end }}
        <div class="content">
          {{ block "main" . }}
          {{ end }}
          {{ partial "toc.html" . }}
        </div>
      </main>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
