{{ define "toolbar" }}
{{ partial "toolbar-single.html" . }}
{{ end }}
{{ define "main" }}
  <article class="doc">
    <h1 class="page">{{ .Title | markdownify }}</h1>
    {{ .Content }}
    {{ partial "pagination" . }}
  </article>
{{ end }}
