
pre {
  white-space: pre-wrap;
  max-width: 100%;
  overflow: hidden;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  grid-template-rows: 400px, auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

article#main.doc {
  display: flex; 
  flex-flow: column;
  margin-left: 1rem;
  padding-left: 0rem;
}

@media (max-width: 768px) {
  .blog {
    grid-template-columns:  1fr;
  }
}

@media (min-width: 769px) {
  .blog .card:nth-of-type(1){
    grid-column: span 3;
  }
  .blog .card:nth-of-type(1n+2){
    grid-column: span 2;
  }
  .blog .card:nth-of-type(1n+3){
    grid-column: span 1;
  }
  .blog .card:nth-of-type(1n+5){
    grid-column: span 2;
  }
  .blog .card:nth-of-type(1n+7){
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .blog .card:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 1;
  }
}
/*
.card:nth-of-type(1n+2) {
  grid-column: span 2;
  grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
  grid-column: span 2;
  grid-row: span 1;
}
*/

.documents {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  }

.resources {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .resources, .documents {
    grid-template-columns:  1fr;
  }
}

.resources .card:nth-of-type(1n+1){
  grid-column: span 1;
}
/* inspired from https://github.com/regisphilibert/rp_hugo_theme/blob/master/assets/sass/modules/_Card.scss  bk */

section .card {
  font-size: 0.8rem;
  /* position: relative; */
  display: inline-block;
  margin-left: 0rem;
  padding: 2em;
  border-top: 1px solid var(--color-smoke-70);
  border-left: 1px solid var(--color-smoke-70); 
  border-right: 1px solid var(--color-smoke-70); 
  border-bottom: 1px solid var(--color-smoke-70); 
}

section .card:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--color-gray-30);
}

section .card .media{
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-circular-hairline{
  border: 1px solid #DADCE0;
  border-radius: 20px;
  padding: 0.1em 0.6em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.author-date{
  margin-top: 20px;
  /* display: flex;
  flex-direction: column; */
}

.card:nth-of-type(1){
  border-top: 4px solid var(--secondary-color);
  margin-top: 0px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card a {
  color: var(--link-color);
}

.card a {
  color: var(--link-font-color);
}

.card a:hover {
  color: var(--link_hover-font-color);
}

.card a.bare {
  hyphens: none;
}

.card a.unresolved {
  color: var(--link_unresolved-font-color);
}

/* .card:nth-of-type(1):before{
  height: .8em;
} */

/* .card {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  overflow: hidden;
  max-width: 100%;
} */

/* section .card:hover:before {
  height: .8em;
} */


/* section .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: var(--secondary-color);
  transition: all 150ms;
} */
