.doc .header {
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* sumary details for docs; header spacing */

.doc summary.title {
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
    outline: none;
}

.doc details[open] {
    background: light-green;
font-weight: normal;    /* the style goes here */
}


/* display icons correctly in text */
a img.icon{
  display: inline-block;
  width: 1rem;
}


/* flexbox tables esp for dicos; require flex role in asciidocs */
@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  table, 
  thead, 
  tbody, 
  th, 
  td { 
    display: block; 
  }

  table.flex tbody > tr {
    display: flex;
    flex-flow: row wrap;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.flex  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  table.flex  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    flex-basis: 1 1 0;
  }

  table.flex  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

  table.flex  td:nth-of-type(1) {
    flex-basis: max-content;
  }

  /*
Label the data
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }
  td:nth-of-type(5):before { content: ""; }
  td:nth-of-type(6):before { content: ""; }
  td:nth-of-type(7):before { content: ""; }
  td:nth-of-type(8):before { content: ""; }
  td:nth-of-type(9):before { content: ""; }
  td:nth-of-type(10):before { content: ""; }
  */
}

/* images overflow in grid */

/* colors are missing from asciidoc stylesheet */
.doc .red { color: #bf0000; }
.doc .red-background { background-color: #fa0000; }
/* get this style from golo */
.doc .conum[data-value] { display: inline-block; color: #fff !important; background-color: rgba(0, 0, 0, 0.8); -webkit-border-radius: 50%; border-radius: 50%; text-align: center; font-size: 0.75em; width: 1.67em; height: 1.67em; line-height: 1.67em; font-family: "Open Sans", "DejaVu Sans", sans-serif; font-style: normal; font-weight: bold; }
.doc .conum[data-value] * { color: #fff !important; }
.doc .conum[data-value] + b { display: none; }
.doc .conum[data-value]:after { content: attr(data-value); }
pre .doc .conum[data-value] { position: relative; top: -0.125em; }
.doc b.conum * { color: inherit !important; }
.doc .conum:not([data-value]):empty { display: none; }

/* footer custom */
.footer {
  display: flex; 
  flex-flow: column; 
  align-items: center;
}

/*navbar menu overflow fix */
.is-right {
  left: auto;
  right: 0;
}

.material-icons {
  font-size: inherit;
}

.tag {
  font-family: var(--body-font-family);
  color: #999;
}

@media only screen and (min-width: 768px) {
  .tag {
    margin-top: 10px;
  }
}

/* put this with admonitions; when loading fontawesome changes font to serif without this*/
.doc i.fa {
font: inherit;
}

/* start of admonitions.css */
.doc i.fa {
  display: inline-block;
  background: no-repeat center / 1em 1em;
  filter: var(--doc-icon-filter);
  hyphens: none;
  font-style: normal;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
}

.doc .admonitionblock {
  margin: 1.4rem 0 0;
}

.doc .admonitionblock p,
.doc .admonitionblock td.content {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.doc .admonitionblock td.content > :not(.title):first-child,
.doc .admonitionblock td.content > .title + * {
  margin-top: 0;
}

.doc .admonitionblock pre {
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.doc .admonitionblock > table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.doc .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--admonition-background);
  /*
  border: 1px solid var(--color-smoke-90);
  */
  width: 100%;
  word-wrap: anywhere;
}

.doc .admonitionblock td.icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: 1;
  transform: translate(-0.5rem, -50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) no-repeat left center / 2.075em 100%;
  border-radius: 0.5em;
  padding: 0.25em 0.075em;
}

.doc .admonitionblock td.icon i {
  display: inline-flex;
  align-items: center;
  width: auto;
  background-position-x: 0.5em;
  filter: invert(100%);
  padding-left: 2em;
  vertical-align: initial;
}

.doc .admonitionblock td.icon i::after {
  content: attr(title);
  text-transform: uppercase;
  filter: invert(100%); /* NOTE reverse the filter on the icon */
  font-weight: var(--admonition-label-font-weight);
  font-style: normal;
  padding: 0 0.5em;
  margin: -0.05em; /* NOTE account for slight offset in font */
}

.doc .admonitionblock.caution td.icon {
  background-color: var(--caution-color);
  color: var(--caution-on-color);
}

.doc .admonitionblock.caution td.icon i {
  background-image: url(../img/octicons-16.svg#view-flame);
}

.doc .admonitionblock.important td.icon {
  background-color: var(--important-color);
  color: var(--important-on-color);
}

.doc .admonitionblock.important td.icon i {
  background-image: url(../img/octicons-16.svg#view-stop);
}

.doc .admonitionblock.note td.icon {
  background-color: var(--note-color);
  color: var(--note-on-color);
}

.doc .admonitionblock.note td.icon i {
  background-image: url(../img/octicons-16.svg#view-info);
}

.doc .admonitionblock.tip td.icon {
  background-color: var(--tip-color);
  color: var(--tip-on-color);
}

.doc .admonitionblock.tip td.icon i {
  background-image: url(../img/octicons-16.svg#view-light-bulb);
}

.doc .admonitionblock.warning td.icon {
  background-color: var(--warning-color);
  color: var(--warning-on-color);
}

.doc .admonitionblock.warning td.icon i {
  background-image: url(../img/octicons-16.svg#view-alert);
}

.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .admonitionblock .title,
.doc .tableblock caption {
  color: var(--caption-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: var(--caption-font-weight);
  font-style: italic;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
  text-align: left;
}

div#msg{
  padding-left: 1em;
  padding-right: 2em;
flex: 1, 0 auto;
}
nav .breadcrumbs ul {
  flex: 1, 1, auto;
}

.translate {
  border: 1px solid var(--toolbar-font-color);
}

.content .wide {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .revealjs iframe,
  article.doc.revealjs {
    /* height: var(--nav-height) !important; */
    height: calc(var(--viewport-height) - var(--navbar-height) - var(--toolbar-height) - 2rem);
    width: 100% !important;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .revealjs iframe,
  article.doc.revealjs {
    /* height: var(--nav-height--desktop); */
    height: var(--nav-height);
    height: calc(var(--viewport-height) - var(--navbar-height) - var(--toolbar-height) - 2rem);
  }
}
