<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title | markdownify }}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
    <div class="navbar-start">
    </div>

        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#" title="{{ .Title | markdownify }}">{{ .Name }}</a>
              <div class="navbar-dropdown">
                {{ range .Children }}
                    <a class="navbar-item" href="{{ .URL | absLangURL }}" title="{{ .Title | markdownify }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <a class="navbar-item" href="{{ .URL | absLangURL }}" title="{{ .Title | markdownify }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}

    <div class="navbar-item">
    </div>

      <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">{{ i18n "categories" | humanize }}</a>
        <div class="navbar-dropdown">
          {{ partial "menu-categories" . }}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">{{ i18n "links" }}</a>
        <div class="navbar-dropdown is-right">
          {{ partial "menu-links" . }}
        </div>
      </div>

        </div>
      </div>
    </div>
  </nav>
</header>
