{{/* Add additional scripts here
##################   This is all commented out !!!
{{ with .Site.Params.gtag }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{ . }}')</script>
{{ end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F5P3575VN5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F5P3575VN5');
</script>

*/}}
