
{{ $currentPage := . }}
  <ul>
{{ range .Site.Menus.main }}
    <li>
      <a href="{{.URL | relLangURL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "is-active" . }}{{ end }}">
        {{ .Pre }}
        {{ .Name }}
      </a>
    </li>
{{end}}
  </ul>
