{{/* Link directly to documentation etc., if possible. */}}


{{ if .Site.IsMultiLingual }}
{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<div class="navbar-item has-drowdown is-hoverable">
<a class="navbar-link is-active" href="{{ .Permalink }}">{{ $langPage.Language.LanguageName }}</a>

<div class="navbar-dropdown">
{{ range $.Site.Home.AllTranslations }}
 <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
{{ end }}
</div>

</div>
{{ end }}

