<article>
  <h2><a class="link" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
    {{ partial "post-meta.html" . }}
    <div class="paragraph">
      <p>{{ .Summary }}</p>
    </div>
    <div class="paragraph">
      <p><a href="{{ .RelPermalink }}">{{ i18n "continueReading" .Title | markdownify | safeHTML }}</a></p>
    </div>

    <div class="author-date">

    {{ if not .Site.Params.hideAuthor }}
    <b>Author:</b> {{ default .Site.Params.author .Params.author | safeHTML }}
    {{ end }}

    <br>
    {{ if .Date }}
      {{ $datestr := .Site.Params.dateFormat }}
      {{ $datestr := .Site.Params.params.dateFormat }}
      {{ $datestr := .Site.Params.params.dateFormat }}
      {{ $datestr := ":date_long" }}

      {{ .Date | time.Format $datestr }}

      {{ $lastmodstr := default .Site.Params.dateformat ":date_long" | .Lastmod.Format }}

      {{ if ne .Date .Lastmod }}
    <span class="material-icons">edit_calendar</span>&nbsp; 
      {{ .Lastmod | time.Format ":date_long" }}
      something
      {{ end }}
    {{ end }}

  </div>
</article>
