<div class="openblock">
  <div class="title">
    <!-- {{ if .Date }}

    <span class="material-icons">calendar_today</span>&nbsp; 
      {{ $datestr := .Site.Params.dateFormat }}
      {{ $datestr := .Site.Params.params.dateFormat }}
      {{ $datestr := .Site.Params.params.dateFormat }}
      {{ $datestr := ":date_long" }}

      {{ .Date | time.Format $datestr }}

      {{ $lastmodstr := default .Site.Params.dateformat ":date_long" | .Lastmod.Format }}

      {{ if ne .Date .Lastmod }}
    <span class="material-icons">edit_calendar</span>&nbsp; 
      {{ .Lastmod | time.Format ":date_long" }}
      something
      {{ end }}
    {{ end }} -->


    {{ if .Site.Params.readingTime }}
    <span class="meta-circular-hairline"><i class="material-icons">hourglass_top</i>&nbsp;{{ .ReadingTime }} </span>
    {{ end }}
    {{ if .Site.Params.wordCount }}
    <span class="meta-circular-hairline"><i class="material-icons">functions</i>&nbsp;{{ .WordCount }}&nbsp;{{  "words" | i18n }} </span>
    {{ end }}

    <!-- {{ if not .Site.Params.hideAuthor }}
    <span class="meta-circular-hairline"><i class="material-icons">account_circle</i>&nbsp;{{ default .Site.Params.author .Params.author | safeHTML }} </span>
    {{ end }} -->


    {{ $taxonomy := "categories" | i18n }}
    {{ with .Param $taxonomy }}
    <span class="meta-circular-hairline">
    <i class="material-icons">folder</i> 
    {{ range $index, $page := . }}
    {{- if gt $index 0 }}, {{ end -}}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $page) -}}
    <a href="{{ .RelPermalink }}">{{ $page }}</a>
    {{- end }}
    {{- end }}
    {{ end }}
  </span>

    {{ $taxonomy := "tags" }}
    {{ with .Param $taxonomy }}
    <span class="meta-circular-hairline">
    <i class="material-icons">label</i> 
    {{ range $index, $page := . }}
    {{- if gt $index 0 }}, {{ end -}}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $page) -}}
    <a class= "tag" href="{{ .RelPermalink }}">{{ $page }}</a>
    {{- end }}
    {{- end }}
    {{ end }}
  </span>

  </div>
</div>
