<div class="toolbar" role="navigation">
  {{ partial "nav-toggle" . }}
  <a href="{{ .Site.Home.RelPermalink }}" class="home-link{{ if .IsHome }} is-current{{ end }}"></a>
  {{ partial "breadcrumbs" . }}
  {{ $scratch := newScratch }}
  {{ with .File }}
    {{ with .Path }}
      {{ $scratch.Set "filePath" . }}
    {{ end }}
  {{ end }}
  <button class="translate" onclick="swapit()"><i class="material-icons">translate</i></button>
<div id="msg"></div>

</div>

