<table class="table fonts is-size-3">
<tbody>
<tr>
<th>Font name
<th>Sample
<tr style="font-family: Cousine ;">
<td>Cousine
<td style="font-family: Cousine ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Material Icons ;">
<td>Material Icons
<td style="font-family: Material Icons ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni
ŋania ɲuman ye
<tr style="font-family: Molengo ;">
<td>Molengo
<td style="font-family: Molengo ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Noto Sans ;">
<td>Noto Sans
<td style="font-family: Noto Sans ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Varela ;">
<td>Varela
<td style="font-family: Varela ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye</table>
